<% if !notice.blank? %>
<div class="alert alert-info"><%= notice %></div>
<% end %>
   <div class="panel panel-default">
      <div class="panel-heading"><b><%= @note.name %></b>(<%= @note.category %>) by <%= @note.user.email %></div>
        <div class="panel-body">
          <p>
            <%= @note.content %>
          </p>
    <div class="btn-group">
  <%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default"%>
  <%= link_to 'Edit', edit_note_path(@note), :class => "btn btn-default" %>
  <%= link_to 'Back', notes_path , :class => "btn btn-default" %>
</div>

   
    </div>

